<div ngCombobox #combobox="ngCombobox" [readonly]="true">
  <div class="combobox-input-container">
    <input ngComboboxInput [placeholder]="placeholder()" [value]="inputLabel()" (onfocus)="onfocus.emit()" />
    <span-lucide [img]="appIcon.ComboBoxOpen" class="icon arrow-icon" translate="no" aria-hidden="true"></span-lucide>
  </div>
  <ng-template ngComboboxPopupContainer>
    <dialog ngComboboxDialog class="dialog">
      <div ngCombobox #combobox="ngCombobox" filterMode="manual" [alwaysExpanded]="true">
        <div class="combobox-input-container">
          <span-lucide [img]="appIcon.Search" class="icon search-icon" translate="no" aria-hidden="true"></span-lucide>
          <input ngComboboxInput class="combobox-input" placeholder="{{placeholder()}} ..." [(value)]="$searchString" />
        </div>
        <ng-template ngComboboxPopupContainer>
          @if (listOptionFiltered().length === 0) {
          <div class="no-results">No results found</div>
          }@else {
          @let idProp=idProperty();
          @let labelProp=labelProperty();
          @if(idProp && labelProp){
          <div ngListbox [(values)]="listSelected">
            @for (option of listOptionFiltered(); track getLabel(option)) {
            <div ngOption [value]="option" [label]="getLabel(option)">
              <span class="option-label">{{ getLabel(option) }}</span>
              <span-lucide [img]="appIcon.Check" class="icon check-icon" translate="no"
                aria-hidden="true">check</span-lucide>
            </div>
            }
          </div>
          }}
        </ng-template>
      </div>
    </dialog>
  </ng-template>
</div>