<mat-tab-group>
    <mat-tab label="First">
         Content 1
        <button matFab extended  aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon> Delete
        </button>
    </mat-tab>
    <mat-tab label="Second">
         Content 2
        <button matFab extended  aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon> Delete
        </button> </mat-tab>
    <mat-tab label="Third">
         Content 3 
        <button matFab extended  aria-label="Example icon button with a delete icon">
            <mat-icon>delete</mat-icon> Delete
        </button>
    </mat-tab>
</mat-tab-group>
