<div ngTabs>
    <div ngTabList selectionMode="follow" selectedTab="AST">
        <div ngTab value="AST">AST</div>
        <div ngTab value="Text">Text</div>
    </div>
    <div>
        <div ngTabPanel [preserveContent]="false" value="AST">
            <ng-template ngTabContent>
                <app-filter-ast-node [uiNode]="uiNodeRoot()" [filterAstManager]="$filterAstManager()"
                    [uiNodeRoot]="uiNodeRoot()" (nodeChanged)="onNodeChanged($event)" [selection]="selection()"
                    (selectionChanged)="onSelectionChanged($event)"></app-filter-ast-node>
                @let s=selection();
                @if (s) {
                <div class="filter-ast-node-actions">
                    @if(s.id!=null){
                    <div class="filter-ast-node-self-actions">
                        <button (click)="onRemoveNode()">
                            <lucide-icon [img]="appIcon.Minus" class="lucide-icon"></lucide-icon> Delete
                        </button>
                        <button (click)="onInsertParent()">
                            <lucide-icon [img]="appIcon.CirclePlus" class="lucide-icon"></lucide-icon> New Parent
                        </button>
                        <button (click)="onAppendListChild()" [disabled]="!uiCanAddChild()">
                            <lucide-icon [img]="appIcon.Plus" class="lucide-icon"></lucide-icon> Add Child
                        </button>
                        <button (click)="onClipboardCopy()">
                            <lucide-icon [img]="appIcon.ClipboardCopy" class="lucide-icon"></lucide-icon> Copy
                        </button>
                        <button (click)="onClipboardCut()">
                            <lucide-icon [img]="appIcon.ClipboardCut" class="lucide-icon"></lucide-icon> Cut
                        </button>
                        <button (click)="onClipboardPaste()" [disabled]="!isClipboardPasteEnabled()">
                            <lucide-icon [img]="appIcon.ClipboardPaste" class="lucide-icon"></lucide-icon> Paste
                        </button>
                    </div>
                    }
                    @if (('operator'===s.property)||('list'===s.property)){
                    <div class="filter-ast-node-operator">
                        @for (item of filterOperatorsListDisplay; track item.operator) {
                        <button (click)="onSetOperator(item)"> {{item.display}} </button>
                        }
                        @for (item of filterOperatorsValueDisplay; track item.operator) {
                        <button (click)="onSetOperator(item)"> {{item.display}} </button>
                        }
                    </div>
                    }
                    @if (('operator'===s.property)||('list'===s.property)){
                    <div class="filter-ast-node-property">
                        @for (header of listPropertyHeader; track header.id) {
                        <button (click)="onSetProperty(header)"> {{header.name}} </button>
                        }
                    </div>
                    }
                </div>
                }
            </ng-template>
        </div>
        <div ngTabPanel [preserveContent]="false" value="Text">
            <ng-template ngTabContent>
                <label>AST as text</label>
                <textarea></textarea>
            </ng-template>
        </div>
    </div>
</div>