th{
    div.data-header {
        width: 100%;
        height: 100%;
        background-color: red;
        box-sizing: border-box
    }
}

th.resize-handle {
    position: relative;
    width: 5px !important;
    min-width: 5px;
    max-width: 5px;
    margin: 0;
    padding: 0;
    cursor: col-resize;

    div.cell-width {
        position: absolute;
        cursor: col-resize;
        top: 0px;
        left: 0;
        height: 100%;
        background-color: #ccc;
        width: 5px;

        &:hover {
            background-color: #007bff;
        }
    }
}
.cdk-drag{
    cursor: move;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging *:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}