th{
    div.data-header {
        width: 100%;
        height: 100%;
        background-color: red;
        box-sizing: border-box
    }
    div.cell-width{
        position: absolute;
        cursor: col-resize;
        top: 0px;
        height: 100%;
        background-color: gray;
        width: 1px;
    }
}
.cdk-drag{
    cursor: move;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging *:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}