@if(uiNode(); as node){
@let thisSel=thisSelection();
<div class="node-filter" [ngClass]="{'focus': (thisSel != null), 'node-filter-operatorIsList':(operatorIsList())}">
    <div class="node-start">(</div>

    @if(showValueOrChild()){
    <div class="node-operator" (click)="setSelection('operator')"
        [ngClass]="{'focus': (thisSel?.property == 'operator')}">
        {{operatorDisplay()}}
    </div>
    <div class="node-list-child">
        @if(node.listChild != null){
        @for (child of node.listChild; track child.id) {
        <app-filter-ast-node [uiNode]="child" [filterAstManager]="filterAstManager()"></app-filter-ast-node>
        }@empty {
        <div>...empty</div>
        }
        }@else {
        <div>...null</div>
        }
        <div>
            <button class="node-add-child" (click)="onAppendListChild()">
                <lucide-icon [img]="appIcon.Plus" class="lucide-icon" size="10"></lucide-icon> new
            </button>
        </div>
    </div>
    }@else {
    @if (node.value != null) {
    <div class="node-name" (click)="setSelection('operator')">
        @if (thisSel==null){
        {{node.value.name}}
        } @else {
        <app-filter-ast-name [uiNode]="uiNode()" [filterAstManager]="filterAstManager()"></app-filter-ast-name>
        }
    </div>
    <div class="node-operator" (click)="setSelection('operator')"
        [ngClass]="{'focus': (thisSel?.property == 'operator')}">
        {{operatorDisplay()}}
    </div>
    <div class="node-value">
        <app-filter-ast-node-value [uiNode]="uiNode()"
            [filterAstManager]="filterAstManager()"></app-filter-ast-node-value>
    </div>
    }@else{
    <div class="node-name">
        @if (thisSel==null){
        ...
        } @else {
        <app-filter-ast-name [uiNode]="uiNode()" [filterAstManager]="filterAstManager()"></app-filter-ast-name>
        }
    </div>
    <div class="node-operator" (click)="setSelection('operator')"
        [ngClass]="{'focus': (thisSel?.property == 'operator')}">
        {{operatorDisplay()}}
    </div>
    <div class="node-value">
        ...
    </div>
    }
    }
    <div class="node-end">)</div>
</div>

}