<div #containerElement class="time-ruler" (mouseup)="onMouseUp($event,'inner')" (mousemove)="onMouseMove($event,'inner')">
  @let state=state$|async;
  @if((null !== state) && (0 < state.displayWidth) && ("" !==state.viewBox)){ <svg #svgElement
    [attr.viewBox]="state.viewBox">

    @for (logTick of state.listLogTick; track logTick.id) {
    <line [attr.x1]="logTick.positionX1" [attr.y1]="logTick.positionY" [attr.x2]="logTick.positionX2+1"
      [attr.y2]="logTick.positionY+4" [attr.stroke]="logTick.color" [attr.stroke-width]="1" />
    }
    <!-- Draw ticks -->
    @for (tick of state.listTick; track tick.id) {
    <line [attr.x1]="tick.position" [attr.y1]="tick.isMajor ? 60 : 70" [attr.x2]="tick.position" [attr.y2]="80"
      stroke="black" [attr.stroke-width]="tick.isMajor ? 2 : 1" />
    @if (tick.isMajor) {
    <text attr.transform="translate({{tick.position}}, 55) rotate(270)" fill="black" text-anchor="middle"
      font-size="10">
      {{tick.label}}
    </text>
    }
    }
    <line x1="0" y1="80" [attr.x2]="toPositionX(state.finishZoom)" y2="80" stroke="black" />

    <!-- Start/End labels -->
    <text fill="black" attr.transform="translate({{toPositionX(state.startZoom)}}, 75) rotate(270)">
      {{toTimeString(state.startZoom) || 'Start'}}
    </text>
    <text fill="black" attr.transform="translate({{toPositionX(state.finishZoom)}}, 75) rotate(270)">
      {{toTimeString(state.finishZoom) || 'Stop'}}
    </text>
    @if (state.startCurrent !== null){
    @let positionCurrent=toPositionX(state.startCurrent);
    <line [attr.x1]="positionCurrent" [attr.y1]="80" [attr.x2]="positionCurrent" [attr.y2]="100" stroke="blue"
      [attr.stroke-width]="1" />
    <text fill="blue" attr.transform="translate({{toPositionX(state.startCurrent)}}, 80)">
      Current:{{toTimeString(state.startCurrent)}}
    </text>
    }

    @if(null !== state.startFilterPositionX ){
      <a (mousedown)="onMouseDown($event,'start')" (mouseup)="onMouseUp($event,'start')" (mousemove)="onMouseMove($event,'start')"
      (dblclick)="onMouseDblClick('start')">
        <rect [attr.x]="0" y="0" [attr.width]="state.startFilterPositionX" height="100" rx="0" ry="0"
        fill="rgba(0, 123, 255, 0.3)" stroke="blue" stroke-width="1" />
      </a>
    }

    @if(null !== state.finishFilterPositionX){
      <a (mousedown)="onMouseDown($event,'finish')" (mouseup)="onMouseUp($event,'finish')" (mousemove)="onMouseMove($event,'finish')" (dblclick)="onMouseDblClick('finish')">
        <rect [attr.x]="state.finishFilterPositionX" y="0" [attr.width]="state.finishFilterWidth" height="100" rx="0" ry="0"
        fill="rgba(0, 123, 255, 0.3)" stroke="blue" stroke-width="1" />
      </a>
    }

    <!--
      @if(isSelecting){
        <rect
        [attr.x]="Math.min(selectionStartX, selectionCurrentX)"
      y="82"
      [attr.width]="Math.abs(selectionCurrentX - selectionStartX)"
      height="18"
      rx="0" ry="0"
      fill="rgba(0, 123, 255, 0.2)"
      stroke="blue"
      stroke-width="1"
      stroke-dasharray="2,2" />
    }
    -->

    </svg>
    }
</div>
