<div class="app-tracerit-content">
    <aside [className]="expanded() ? 'aside-expanded' : 'aside-collapsed'">
        <header>
            <button type="button" routerLink="/tracorit/log">
                <span-lucide [img]="Home" class="aside-collapsed my-icon"></span-lucide>
                <span class="aside-expanded">Log</span>
            </button>
        </header>
        <button type="button" routerLink="/tracorit/directory-list">
            <span-lucide [img]="FileStack" class="aside-collapsed my-icon"></span-lucide>
            <span class="aside-expanded">
                Directory                    
            </span>
        </button>
        <footer>
            <button type="button" (click)="handleToggle()">
                <span-lucide [img]="(expanded())?ChevronLeft:ChevronRight" class="aside-collapsed my-icon"></span-lucide>
                <span class="aside-expanded">
                    {{ expanded() ? 'Collapse' : 'Expand' }}
                </span>
            </button>
        </footer>
    </aside>
    <main>
        <router-outlet />
    </main>
</div>