<div tuiAppearance="floating">
    @if (error$|async; as error) {
    <div>
        {{error}}
    </div>
    } @else {
    <table class="table-tracerit">
        <thead>
            <tr>
                <th>Name</th>
                <th>Creation Time UTC</th>
                <th>Length</th>
            </tr>
        </thead>
        <tbody>
            @if(listFile$ | async; as listFile) {
            @let currentFile=currentFile$ | async;
            @for(fileInfo of listFile; track fileInfo.name){
            <tr (click)="setCurrentFils(fileInfo.name)" [class.selected]="currentFile === fileInfo.name">
                <td>{{ fileInfo.name }}</td>
                <td>{{ fileInfo.creationTimeUtc }}</td>
                <td>{{ fileInfo.length|fileSize }}</td>
            </tr>
            }
            }@else{
            <tr>
                <td colspan="3">
                    no files
                </td>
            </tr>
            }
        </tbody>
    </table>
    }
</div>