/* lucide */
svg.my-icon {
    width: 24px;
    height: 24px;
}

html {
    margin: 0;
}

body {
    margin: 0;
}

$scollbar-height: 25px;
$scollbar-width: 25px;
$aside-width: 48px;
$aside-content-width: calc($aside-width - 4px);
$aside-width-expanded: 200px;
$aside-content-width-expanded: calc($aside-width-expanded - $aside-width - 4px);
$main-content-width: calc(100vw - $aside-width - $scollbar-width);

.app-tracerit-content {
    display: flex;
    width: calc(100vw - $scollbar-width);
    min-height: calc(100vh - $scollbar-height);

    aside {
        z-index: 10;
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: black;
        color: white;
        padding: 8px 0 0 0;
        height: calc(100% - $scollbar-height);

        button[type='button'] {
            display: flex;
            overflow-x: hidden;
            background-color: black;
            color: white;
            padding: 0px;
            margin: 0 0 8px 0;
            border-width: 2px;
        }

        &.aside-expanded {
            width: $aside-width-expanded;

            * .aside-collapsed {
                width: $aside-content-width;
            }

            * .aside-expanded {
                width: $aside-content-width-expanded;
            }
        }

        &.aside-collapsed {
            width: $aside-width;

            * .aside-expanded {
                visibility: hidden;
                display: none;
            }

            * .aside-collapsed {
                width: $aside-content-width;
            }
        }
    }

    main {
        margin-left: $aside-width;
        flex-grow: 1;
    }
}

.log-view-content {
    width: $main-content-width;
    height: calc(100vh - $scollbar-height);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 200px;

    .log-view-table {
        width: $main-content-width;
        overflow: scroll;
    }

    .log-view-property {
        width: $main-content-width;
        overflow: scroll;

        display: flex;
        flex-wrap: wrap;

        .log-view-property-item {
            min-width: 400px;

            label {
                font-weight: bold;
                min-width: 200px;
            }
            .log-view-property-item-value {
                word-break: break-all;
            }
        }
    }
}

table.table-tracerit {
    width: 100%;
    border-collapse: collapse;

    thead {
        th {
            padding: 12px;
            text-align: left;
            font-weight: 600;
            border-bottom: 2px solid #ddd;
        }

        td {
            border-bottom: 2px solid #ddd;
        }

        tr.header-sticky {
            position: sticky;
            top: 1px;
            background-color: white;
            z-index: 2;

            th,
            td {
                background-color: white;
            }
        }
    }

    tbody {
        tr {
            transition: background-color 0.2s ease;

            // Alternating row colors
            &:nth-child(odd) {
                background-color: #f9f9f9;

                td.sticky {
                    background-color: #f9f9f9;
                }
            }

            &:nth-child(even) {
                background-color: #ffffff;

                td.sticky {
                    background-color: #ffffff;
                }
            }

            // Hover effect
            &:hover {
                background-color: #e3f2fd;
                cursor: pointer;
            }

            // Selected/current file style
            &.selected {
                border: 2px solid #2196f3;
                box-shadow: 0 0 8px rgba(33, 150, 243, 0.3);
            }

            td {
                padding: 10px 12px;
                border-bottom: 1px solid #eee;
            }
        }
    }

    th.sticky,
    td.sticky {
        position: sticky;
        left: 0px;
        /*$aside-width;*/
        z-index: 2;
    }
}